/*LESS*/
/*MAIN STYLES*/
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  background: 0 #ffffff;
  background-size: 100% auto;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 100%;
  text-align: center;
}
.no-float {
  margin: 0 auto;
  float: none;
}
.shadow {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
/*WRAPPER*/
.wrapper {
  width: 100%;
  position: relative;
}
/*HEADER*/
#header {
  position: relative;
  z-index: 50;
}
#header .top div {
  padding: 0;
}
#header h1 {
  position: absolute;
  width: 412px;
  height: 189px;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
}
#header h2 {
  margin: auto;
}
#header .title {
  position: absolute;
  width: auto;
  max-width: 330px;
  min-height: 60px;
  height: 150px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 25px !important;
  border: 2px solid #ffffff;
  text-align: center;
}
#header .title h2,
#header .title h3 {
  color: #ffffff;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}
#header .title h2 a,
#header .title h3 a {
  color: #ffffff;
}
#header img {
  width: 100%;
}
#header .main-intro {
  position: absolute;
}
/*HOME*/
.intro {
  padding: 40px 0;
  color: #8b572a;
  z-index: 40;
  text-align: center;
}
.intro p {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 4px;
}
.cont-servicios .cont-interior,
.cont-servicios .cont-grid {
  padding: 0;
}
.cont-servicios .block {
  position: relative;
  min-height: 290px;
  padding: 0;
  background: #b2753e;
  text-align: center;
}
.cont-servicios .block h2 {
  font-size: 26px;
  font-weight: 700;
}
.cont-servicios .block h3 {
  font-size: 26px;
  font-weight: 700;
}
.cont-servicios .block img {
  width: 100%;
}
.cont-servicios .block .title {
  position: absolute;
  width: auto;
  max-width: 270px;
  min-height: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 25px;
  border: 2px solid #ffffff;
  text-align: center;
}
.cont-servicios .block .title h2,
.cont-servicios .block .title h3 {
  color: #ffffff;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cont-servicios .block .title h2 a,
.cont-servicios .block .title h3 a {
  color: #ffffff;
}
.cont-servicios .block .block-3 {
  height: 125px;
}
.cont-servicios .block .block-2 {
  height: 95px;
}
.cont-servicios .block .block-1 {
  height: 60px;
}
.cont-servicios .block .excerpt {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 50px;
  background: url(../imag/back/bg_text.png) repeat left top;
}
.cont-servicios .block .excerpt p {
  margin: 0 auto;
  max-width: 90%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}
/*END*/
