/*LESS*/
/*MAIN STYLES*/
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  background: 0 #ffffff;
  background-size: 100% auto;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 100%;
  text-align: center;
}
.no-float {
  margin: 0 auto;
  float: none;
}
.no-padding {
  padding: 0 0 20px !important;
}
.shadow {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
/*WRAPPER*/
.wrapper {
  width: 100%;
  position: relative;
}
#main {
  width: 100%;
  display: block;
}
/*HEADER*/
#header {
  position: relative;
  z-index: 50;
}
#header .top {
  position: relative;
}
#header .top div {
  padding: 0;
}
#header h1 {
  position: absolute;
  width: 412px;
  height: 189px;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
}
#header h2 {
  margin: auto;
}
#header .fixed-title {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  width: 500px;
  height: 200px;
  background: url(../imag/back/bg-top.png) no-repeat center top;
}
#header .fixed-title img {
  margin: 25px auto;
  width: auto;
}
#header .fixed-position {
  position: absolute;
  width: 100%;
  height: 250px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#header .fixed-position .title {
  width: auto;
  margin: 0 auto;
  max-width: 330px;
  min-height: 60px;
  padding: 12px 25px !important;
  border: 2px solid #ffffff;
  text-align: center;
}
#header .fixed-position .title.block-3 {
  height: 150px;
}
#header .fixed-position .title.block-2 {
  height: 150px;
}
#header .fixed-position .title h2,
#header .fixed-position .title h3 {
  color: #ffffff;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}
#header .fixed-position .title h2 a,
#header .fixed-position .title h3 a {
  color: #ffffff;
}
#header .fixed-position .main-intro {
  margin: 40px auto;
  text-align: center;
}
#header .fixed-position .main-intro p {
  max-width: 70%;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 3px;
}
#header .fixed-position .main-intro p img {
  width: auto;
}
#header img {
  width: 100%;
}
#header .cont-auxi {
  position: absolute;
  top: 30px;
  z-index: 50;
  width: 100%;
}
#header .cont-auxi a {
  display: block;
  width: 68px;
  height: 70px;
}
#header .cont-auxi a:hover {
  opacity: .5;
}
#header .cont-auxi .left-auxi {
  position: absolute;
  width: auto;
  top: 0px;
  left: 30px;
}
#header .cont-auxi .left-auxi a {
  background: url(../imag/auxi/back_icon.png) no-repeat left top;
  text-indent: -999em;
}
#header .cont-auxi .right-auxi {
  position: absolute;
  width: auto;
  top: 0px;
  right: 30px;
}
#header .cont-auxi .right-auxi a {
  background: url(../imag/auxi/home_icon.png) no-repeat left top;
  text-indent: -999em;
}
/*HOME*/
.intro {
  padding: 40px 0;
  color: #8b572a;
  z-index: 40;
  text-align: center;
}
.intro p {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 4px;
}
.cont-servicios .cont-interior,
.cont-servicios .cont-grid {
  padding: 0;
}
.cont-servicios .block {
  position: relative;
  min-height: 290px;
  padding: 0;
  background: #b2753e;
  text-align: center;
}
.cont-servicios .block h2 {
  font-size: 26px;
  font-weight: 700;
}
.cont-servicios .block h3 {
  font-size: 26px;
  font-weight: 700;
}
.cont-servicios .block img {
  width: 100%;
}
.cont-servicios .block .title {
  position: absolute;
  width: auto;
  max-width: 270px;
  min-height: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 25px;
  border: 2px solid #ffffff;
  text-align: center;
}
.cont-servicios .block .title h2,
.cont-servicios .block .title h3 {
  color: #ffffff;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cont-servicios .block .title h2 a,
.cont-servicios .block .title h3 a {
  color: #ffffff;
}
.cont-servicios .block .block-3 {
  height: 125px;
}
.cont-servicios .block .block-2 {
  height: 95px;
}
.cont-servicios .block .block-1 {
  height: 60px;
}
.cont-servicios .block .excerpt {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 50px;
  background: url(../imag/back/bg_text.png) repeat left top;
}
.cont-servicios .block .excerpt p {
  margin: 0 auto;
  max-width: 90%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}
/*CARTAS*/
.cont-menu {
  position: relative;
  padding: 50px 0 0;
  width: 100%;
  z-index: 30;
}
.title-carta {
  padding: 20px 0;
  border-bottom: 1px solid #4d3118;
  text-align: center;
}
.title-carta h3 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #8b572a;
  text-transform: uppercase;
}
.cont-col {
  padding: 30px 0;
  height: 540px;
  color: #8b572a;
  font-size: 16px;
}
.cont-col .col-left {
  padding-right: 60px;
}
.cont-col .col-right {
  padding-left: 60px;
}
.cont-col h5 {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  background: url(../imag/back/bg_points.png) repeat-x right bottom;
}
.cont-col h5 span {
  display: inline-block;
  padding-right: 5px;
  background: #ffffff;
}
.cont-col span.italic {
  font-style: italic;
  font-weight: 300;
}
.cont-col .price {
  font-weight: 700;
}
.cont-col .item-menu {
  margin: 0 0 20px;
  clear: both;
}
.cont-col .item-menu .left {
  width: 90%;
  padding-right: 10px;
  float: left;
}
.cont-col .item-menu .right {
  width: 10%;
  padding-left: 10px;
  float: right;
}
.cont-navi {
  padding: 20px 0;
  border-top: 1px solid #8b572a;
}
.cont-navi a {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #8b572a;
}
.cont-navi .prev {
  background: url(../imag/auxi/arrow-left.png) no-repeat left top;
  float: left;
}
.cont-navi .prev a {
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.cont-navi .next {
  background: url(../imag/auxi/arrow-right.png) no-repeat right top;
  float: right;
}
.cont-navi .next a {
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/*SERVICIOS HOTEL*/
.border-div {
  padding: 20px 0;
  border-bottom: 1px solid #979797;
}
.item-servicios {
  color: #444444;
}
.item-servicios p {
  line-height: 120%;
}
.item-servicios img {
  margin: 0 30px 0 0;
  float: left;
}
/*FOOTER*/
#footer .related {
  position: relative;
}
#footer .related img {
  width: 100%;
}
#footer .related .title {
  position: absolute;
  display: inline-block;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 25px;
  border: 2px solid #ffffff;
  text-align: center;
}
#footer .related .title h2,
#footer .related .title h3 {
  font-size: 26px;
  color: #ffffff;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
#footer .related .title h2 a,
#footer .related .title h3 a {
  color: #ffffff;
}
#footer .related .block-3 {
  height: 125px;
}
#footer .related .block-2 {
  height: 95px;
}
#footer .related .block-1 {
  height: 60px;
}
#footer .scroll-top {
  padding: 40px 0;
  text-align: center;
}
#footer .scroll-top img {
  margin: 0 auto;
}
/*END*/
