/*LESS*/
/*MAIN STYLES*/
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  background: 0 #ffffff;
  background-size: 100% auto;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0 0 45px;
  padding-bottom: 8px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  background: url(../imag/auxi/yellow-border.png) no-repeat center bottom;
  text-shadow: 1px 1px 5px #333;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 100%;
  text-align: center;
}
.shadow {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
/*WRAPPER*/
.wrapper {
  width: 100%;
  position: relative;
}
/*HEADER*/
#header {
  position: relative;
  z-index: 50;
}
#header .top div {
  padding: 0;
}
#header h1 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#header img {
  width: 100%;
}
/*HOME*/
.intro {
  padding: 70px 0;
  color: #8b562a;
  z-index: 40;
  text-align: center;
}
.cont-servicios .cont-interior {
  padding: 0;
}
.cont-servicios .block {
  position: relative;
  height: 290px;
  background: #b2753e;
  text-align: center;
}
.cont-servicios .title {
  position: absolute;
  width: auto;
  max-width: 230px;
  max-height: 115px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  border: 2px solid #ffffff;
  text-align: center;
}
.cont-servicios .title h2 {
  color: #ffffff;
  text-transform: uppercase;
}
/*END*/
